<%= content_for(:transparent_navbar, "transparent-navbar") %>

<div class="backgound">



  <div class="strollbanner">
    <h1><br>Your<br>Interests</h1>
  </div>
  <div class="container">
    <%= simple_form_for @stroll_setting do |f| %>
      <!-- <h2>Significance</h2>
      <div class="col-12 mb-1 align-self-center">
        <label for="customRange3" class="form-label"></label>
          <input name="significance" type="range" class="form-range" min="1" max="3" step="1" id="customRange3" oninput="this.nextElementSibling.value = this.value">
        <output></output>
      </div> -->
      <h2>Preferences</h2>
      <%= f.input :significance, as: :range %>
      <%= f.input :cost, as: :boolean %>
      <%= f.input :newness, as: :boolean %>
      <h2>Interests</h2>
      <%= f.input :attractions %>
      <%= f.input :architecture %>
      <%= f.input :bar %>
      <%= f.input :cafe %>
      <%= f.input :hidden_places %>
      <%= f.input :history %>
      <%= f.input :memorial %>
      <%= f.input :nieghborhood %>
      <%= f.input :park %>
      <%= f.input :restaurant %>
      <%= f.input :shop %>
      <%= f.input :sculpture %>
      <%= f.input :view %>
      <input class="rounded" name="home_address" type="text" id="home_location_address" placeholder="Home address">
      <div class="m-3"></div>
      <input class="rounded" name="work_address" type="text" id="work_location_address" placeholder="Work address">
      <div class="m-3"></div>
      <%= f.submit "Save", class: "btn btn-submit btn-secondary" %>
    <% end %>
    <br>
  </div>
</div>
<script>
   $(function(){
            $('[data-toggle="tooltip"]').tooltip();
   })
</script>
