<link rel="stylesheet" href="application.scss">
<br>
<h1>Colors</h1>
  <h4>Buttons are for color reference only, please don't use these</h4>
  <h4>$primary - class="..."</h4>
    <div class="text-primary">text-primary</div>
    <div class="bg-primary" style="width: 160px; height: 80px">bg-primary</div>
    <div class="btn btn-primary">btn-primary</div>
  <br><br>
  <h4>$success - class="...";</h4>
    <div class="text-success">text-success</div>
    <div class="bg-success" style="width: 160px; height: 80px">bg-success</div>
    <div class="btn btn-success">btn btn-success</div>
  <br><br>
  <h4>$info - class="..."</h4>
    <div class="text-info">text-info</div>
    <div class="bg-info" style="width: 160px; height: 80px">bg-info</div>
    <div class="btn btn-info">btn btn-info</div>
  <br><br>
  <h4>$danger - class="..."</h4>
    <div class="text-danger">text-danger</div>
    <div class="bg-danger" style="width: 160px; height: 80px">bg-danger</div>
    <div class="btn btn-danger">btn btn-danger</div>
  <h4>$warning - class="..."</h4>
    <div class="text-warning">text-warning</div>
    <div class="bg-warning" style="width: 160px; height: 80px">bg-warning</div>
    <div class="btn btn-warning">btn btn-warning</div>
<br>
<br>
<h1>Fonts</h1>
  <div class="title">This is a class="title"</div>
  <div class="subtitle">This is a class="subtitle"</div>
  <h5>This is being written with the $heading-font (Fira Sans 500 / Helvetica)</h5>
  <div>This is being written with $body-font (Fira Sans 300 / Helvetica)</div>
<br>
<br>
<h1>Buttons</h1>
  <h4>Remember to change the # for the path!!</h4>
  <h4>Circle Button - class="btn btn-round btn-primary"</h4>
    <%= link_to "Round", "#", class: "btn-round btn-primary" %>
  <br>
  <h4>Square Button - class="btn btn-square btn-primary"</h4>
    <%= link_to "Square", "#", class: "btn-square btn-primary" %>
  <br>
  <h4>Tilt Button - class="btn btn-tilt btn-primary"</h4>
    <%= link_to "Tilt", "#", class: "btn btn-tilt btn-primary" %>
<br>
<br>
<h1>Card</h1>
  <div class="card-cover" style="width: 300px; height: 200px">class="card-cover"</div>
  <br>
  <div class="gradient" style="width: 300px; height: 200px">class="gradient"</div>
  <br>
  <div class="card-cover gradient" style="width: 300px; height: 200px">
    <p class="title">Stroll</p><br>
  </div>
<br>
<br>
<h1>Avatar</h1>
  <h4>Avatar - class="avatar" (Change the picture URL!!!)</h4>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
  <br>
  <h4>Avatar large - class="avatar-large" (Change the picture URL!!!)</h4>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
<br>
<br>
<h1>Pulse alert</h1>
  <div class="pulse-wrapper">
    <div class="pulse"><span>Generating</span></div>
  </div>
  
