<div class="navbar navbar-light navbar-expand-sm <%= yield(:transparent_navbar) %>">

  <% if user_signed_in? %>
    <!-- Left icon dropdown -->
    <div class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bars text-warning"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown1">
        <%= link_to "Home", root_path, class: "dropdown-item"  if user_signed_in?%>
        <%= link_to "Explore", locations_path, class: "dropdown-item"  if user_signed_in? %>
        <%= link_to "Saved Strolls", "#", class: "dropdown-item" if user_signed_in? %>
        <%= link_to "Shared Strolls", "#", class: "dropdown-item"  if user_signed_in? %>
      </div>
    </div>

    <!-- Middle link -->
    <%= link_to "stroll", root_path, class: "nav-link subtitle nav-item text-warning " + yield(:transparent_stroll) %>
          
    <!-- Right icon dropdown -->
    <div class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-cog text-warning"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Interests", edit_stroll_setting_path(current_user), class: "dropdown-item" %>
        <%= link_to "Favorites", user_starred_locations_path(current_user), class: "dropdown-item" %>
        <hr class="dropdown-divider" />
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link text-warning subtitle btn btn-info" %>
    </div>
  <% end %>
</div>
