<%= render "shared/navbar" %>
<div id="home-container">
  <div class="strollbanner">
    <%= image_tag "stroll_logo.png", class: "logobig" %>
  </div>
   <div class="h-50">
    <div class="d-flex justify-content-around">
      <%= link_to "Stroll", root_path, class: "btn-tilt" %>
      <%= link_to "Map", root_path, class: "btn-tilt" %>
      <%= link_to "Shared", root_path, class: "btn-tilt" %>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-around mt-10">
      <%= link_to "Preferences", root_path, class: "btn-tilt" %>
      <%= link_to "Saved", root_path, class: "btn-tilt" %>
      <%= link_to "Profile", root_path, class: "btn-tilt" %>
    </div>
    <div class="strollfooter">
      <%= image_tag "stroll_logo.png", class: "logobig" %>
    </div>
  </div>
</div>


