<%= render "shared/navbar" %>
<div id="home-container">
  <div class="strollbanner">
    <%= image_tag "stroll_logo.png", class: "logobig" %>
  </div>
   <div class="h-50">
    <div class="d-flex justify-content-around">
      <%= link_to image_tag("btn_stroll"), new_walk_starting_location_path(current_user.stroll_setting.walk)%>
      <%= link_to image_tag("btn_map"), locations_path %>
      <%= link_to image_tag("btn_shared"), root_path %>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-around mt-10">
      <%= link_to image_tag("btn_interests"), edit_stroll_setting_path(current_user.stroll_setting) %>
      <%= link_to image_tag("btn_saved"), walk_path(current_user.stroll_setting.walk) %>
      <%= link_to image_tag("btn_profile"), root_path %>
    </div>
    <div class="strollfooter">
    </div>
  </div>
</div>


