<%= render "shared/navbar" %>
<div id="home-container">
  <div class="strollbanner">
    <%= image_tag "stroll_logo.png", class: "logobig" %>
  </div>
   <div class="h-50">
    <div class="d-flex justify-content-around">
      <%= link_to image_tag("btn_stroll"), "https://stroll-enpina90.herokuapp.com/walks/1/starting_locations/new" %>
      <%= link_to image_tag("btn_map"), locations_path %>
      <%= link_to image_tag("btn_shared"), root_path %>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-around mt-10">
      <%= link_to image_tag("btn_interests"), "http://localhost:3000/stroll_settings/1/edit" %>
      <%= link_to image_tag("btn_saved"), "http://localhost:3000/walks/1" %>
      <%= link_to image_tag("btn_profile"), root_path %>
    </div>
    <div class="strollfooter">
    </div>
  </div>
</div>


