<div id="home-container">
  <div class="strollbanner">
    <div class="logobig">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <%= simple_form_for [@walk, @starting_location] do |f| %>
              <input class="rounded" name="address" type="text" id="starting_location_address" placeholder="Start my stroll from...">
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-1 align-self-center">
            <label for="customRange3" class="form-label">Walk duration</label>
              <input name="duration" type="range" class="form-range" min="10" max="240" step="5" id="customRange3" oninput="this.nextElementSibling.value = this.value">
              <output>35</output>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <%= f.submit "Go", class: "btn btn-submit btn-secondary" %>
            <% end %>
          </div>
        </div>
        </div>
    </div>
  </div>
  <ul style="list-style: none;">
    <li class="mb-3" style="color:#C24F4A;"><i class="fas fa-question"></i>           Randomized Location</li>
    <li style="color:#000000;"><i class="fas fa-home"></i>   Home</li>
    <% if user_signed_in? && @walk.user.stroll_setting.home_address.present? %>
      <li class="mb-3" style="color:#A5A2A2;" id="home-address"> <%= @walk.user.stroll_setting.home_address  %></li>
    <% else %>
      <li class="mb-3" style="color:#A5A2A2;"><%= link_to "Set home address", edit_stroll_setting_path(current_user.stroll_setting) if user_signed_in? %></li>
    <% end %>
    <li style="color:#000000;"><i class="fas fa-briefcase"></i>   Work</li>
    <% if user_signed_in? && @walk.user.stroll_setting.work_address.present? %>
      <li class="mb-3" style="color:#A5A2A2;" id="work-address"> <%= @walk.user.stroll_setting.work_address  %></li>
    <% else %>
      <li class="mb-3" style="color:#A5A2A2;"><%= link_to "Set work address", edit_stroll_setting_path(current_user.stroll_setting) if user_signed_in? %></li>
    <% end %>
  </ul>
  <div class="strollfooter">
  </div>
</div>

<script>
  const home = document.getElementById("home-address");
  const inputField = document.getElementById("starting_location_address");
  home.addEventListener('click', (event) => {
    inputField.value = event.target.innerText;
  });
  const work = document.getElementById("work-address");
  work.addEventListener('click', (event) => {
    inputField.value = event.target.innerText;
  });
</script>
