<div class="card-location">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div>
    <div>
      <h2><%= location.name %></h2>
      <p><%= location.category.capitalize %> | <%= location.cost %>€ </p>
      <p><%= location.info %> </p>
    </div>
    <div class="card-location-user">
      <%= simple_form_for([current_user, @starred_location], method: :post ) do |f| %>
        <%= f.input :location_id, as: :hidden, input_html: { value: location.id } %>
          <%= button_tag type: 'submit', class: 'favorite' do %>
            <i class="fas fa-star text-info"></i>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
