<h3 class="header-info-box"><%= location.name %></h3>
<p>Category <strong><%= location.category.capitalize %></strong> | Cost: <strong><%= location.cost %></strong></p>
<p><%= location.intro %></p>
<br>
<p><%= location.info %></p>

<%= simple_form_for([current_user, @starred_location], method: :post) do |f| %>
<%= f.input :location_id, as: :hidden, input_html: { value: location.id } %>
<%= f.submit %>
<% end %>
