<div class="card-location">
  <%= image_tag "#{location.photo_url}"%>
  <div>
    <div class='card-padding'>
      <h2><%= location.name %></h2>
      <p><%= location.category.capitalize %> | <%= location.cost %>€ </p>
      <p><%= location.address %> </p>
      <p><%= link_to  "See more", location_path(location) %></p>
    </div>
    <div class="card-location-user">
      <%= simple_form_for([current_user, @starred_location], method: :post ) do |f| %>
        <%= f.input :location_id, as: :hidden, input_html: { value: location.id } %>
          <%= button_tag type: 'submit', class: 'favorite' do %>
            <% if @starred_locations.include?(location.id) %>
              <i class="fas fa-star" style="color: gold;"></i>
            <% else %>
              <i class="far fa-star" style=""></i>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
