<h3 class="header-info-box"><%= location.name %></h3>
<p>Category <strong><%= location.category.capitalize %></strong> | Cost: <strong><%= location.cost %></strong></p>
<p><%= location.intro %></p>
<br>
<p><%= location.info %></p>
