<div class="banner" style="background-image: url(https://www.voucherwonderland.com/reisemagazin/wp-content/uploads/2017/03/Berlin-Sehensw%C3%BCrdigkeiten-1.jpeg);">
  <div>
    <%= simple_form_for([current_user, @starred_location], method: :post ) do |f| %>
      <%= f.input :location_id, as: :hidden, input_html: { value: @location.id } %>
        <%= button_tag type: 'submit', class: 'favorite' do %>
          <% if @starred_locations.include?(@location.id) %>
            <i class="fas fa-star fa-lg" style="position: absolute; left: 10px; top: 50px; color: gold;"></i>
          <% else %>
            <i class="far fa-star fa-lg" style="position: absolute; left: 10px; top: 50px;"></i>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 m-2">
      <h1 class="title" style="font-size: 35px; line-height: 40px;"><%= @location.name %></h1>
    </div>
  </div>
  <div class="row justify-content-center w-90 pr-2 pl-2">
    <p>Category <strong><%= @location.category.capitalize %></strong> | Cost: <strong><%= @location.cost %> €</strong></p>
    <p style="margin: auto;"><%= @location.address %></p>
  </div>
  <div class="row justify-content-left w-90 pr-3 pl-3 mt-3">
    <p><%= @location.content %>lalala</p>
  </div>
  <div class="row justify-content-left w-90 pr-3 pl-3 mt-2">
    <p><%= @location.info %> this is info</p>
  </div>

  <hr>

  <div class="row w-90 pr-3 pl-3 align-items-center">
    <h1 class="subtitle">Notes:</h1>
    <button type="button" id="formButton" onclick="ShowAndHide()" class="btn btn-square btn-primary" style="position: relative; right: -52vw; width: 100px;
    height: 35px;">Add note</button>

    <div class="col-12">
    <%= simple_form_for [@location, @note], html: {id: "form1", style: "display:none;"} do |f| %>
      <%= f.input :content %>
      <%= f.button :submit, class: "btn btn-primary", style: "color: white;" %>
    <% end %>
    <br>
    </div>

      <% @notes.each do |note| %>
        <div class="box">
          <h5><%= note.content %></h5>
          <p style="font-style: italic; color: #a09f9b; margin-bottom: 0;">- <%= User.find(note.user_id).user_name %>, <%= note.created_at.to_s[0..10] %></p>
        </div>
      <% end %>
  </div>
</div>


<script>
  function ShowAndHide() {
    var x = document.getElementById('form1');
    var y = document.getElementById('formButton');
    if (x.style.display == 'none') {
        x.style.display = 'block';
        y.style.color = 'white';
        y.innerText = 'Close';
    } else {
        x.style.display = 'none';
        y.style.color = 'white';
        y.innerText = 'Add note';
    }
  }
</script>

